.App {
  text-align: center;
}

html {
  background-color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  padding: 0;
  background-color: #61dafb;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.heading {
  width: fit-content;
  display: inline-block;
  margin: 0 auto;
  color: black;
  font-size: 5em;
  font-style: italic;
}

.image {
  margin: 0 auto;
  border-radius: 5%;
  max-width: 100%;
  /* padding: 10px; */
  border: 10px solid ;
}

.button {
  margin: 4em 2em;
  display: inline-block;
  background: yellow;
  color: black;
  font-weight: 100;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 48px;
  border-radius: 10px;
  border: 0;
  height: 48px;
  width: 320px;
  transition: 500ms;
  border-bottom: 1px solid transparent;
}

.button:hover {
  background: gold;
  border-radius: 10px solid yellow;
}